:root {
    --darklight: #0145a4;
	--dark: #05152E;
	--darker: #1F2937;
	--darkest: #001E3C;
	--grey: #6B7280;
	--pink: #EC4899;
	--purple: #8B5CF6;
	--light: #EEE;
}

* {
	margin: 0;
	box-sizing: border-box;
	font-family: "Fira sans", sans-serif;
}

body {
	display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
	min-height: 100vh;
	color: #FFF;
	background-color: var(--light);
}

.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* display: block;
    text-align: center; */
    padding: 0;
    margin: 0;
    width: 400px;
    max-height: 80vh;
    min-height: 80vh;
    border-radius: 20px;
    background-color: var(--dark);
    box-shadow: 2px 4px 10px var(--darkest);
}

.signup-page {
    /* flex: 1; */
    display: flex;
    text-align: center;
    margin: 0;
    padding: 30px;
    height: 100%;
    max-width: 440px;
    max-height: 100vh;
}

#page2, #page3, #page4, #page5 {
    display: none;
}

.form {
    display: block;
    text-align: left;
    padding: 30px;
    top: 0;

    box-sizing: border-box;
    float: left;
    clear: both;
}
#form4 {
    width: 100%;
}

#language {
    text-align: end;
    top: 0;
}

#logo1{
    text-align: center;
    margin-bottom: 78px;
}
#logo2 {
    text-align: center;
}

.pairs {
    margin-top: 2vw;
}

.el {
    margin-top: 1vw;
    width: 100%;
    padding: 5px 0 5px 0;
    border-radius: 10px;
}

#or {
    text-align: center;
}

#sign-in {
    background-color: var(--darklight);
    color: white;
}

#gmail-sign-in {
    background-color: #db4a39;
    color: white;
}

.agb, .news {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-start: auto;
    padding: 0;
    margin: 0;
    max-height: 30px;
    /* place-self: center center;
    justify-self: center;
    align-self: self-start; */
}

.el:hover {
	opacity: 0.8;
}
input.not-filled {
    background-color: red;
}

 @media screen and (max-width: 768px) {

    body {
        background-color: var(--dark);
        margin: 0;
        padding: 0;
        height: 100vh;
        overflow-y: auto;
    }

    .signup-container {
        border-radius: 0px;
        height: 100vh;
    }

    .form {
        height: 100%;
        width: 100%;
        padding: 0px;
        margin: 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

/*     #form3 {
        padding: 0 20px 0 20px;
    } */

    .pairs {
        margin: 10px 0 10px 0;
    }

    .el {
        margin: 10px 0 10px 0;
        width: 100%;
        min-width: 300px;
        min-height: 30px;
    }
    .agb, .news {
        padding: 0;
        margin: 0;
        max-height: 30px;
        /* place-self: center center;
        justify-self: center;
        align-self: self-start; */
    }
    #agb, #newsletter {
        max-height: 50%;
        padding: 0;
        margin: 0;
    }
  }