:root {
	--dark: #05152E;
	--darker: #1F2937;
	/* --darkest: #001E3C; */
	--grey: #6B7280;
	--pink: #EC4899;
	--purple: #8B5CF6;
	--light: #EEE;
}

* {
	margin: 0;
	box-sizing: border-box;
	font-family: "Fira sans", sans-serif;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	color: #FFF;
	background-color: var(--dark);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.signup-container {
    display: flex;
}

.signup-page {
    flex: 1;
    /* min-height: 100vh; */
    padding: 20px;
    box-sizing: border-box;
}
#page1 {
    display: block;
    text-align: center;
}

#page2, #page3, #page4, #page5 {
    display: none;
}

/* .active {
    display: block;
} */



